.levels-container {
    padding: 20px;
    color: black;
}

.simulacion-container {
    background-color: white;
    padding: 20px;
}

.charts-container {
    margin-top: 25px;
}

.config-card {
    background-color: #041631;
    padding: 15px;
    height: 150px;
}

.config-card h4 {
    color: white;
}

.price {
    color: green;
    text-align: right;
    display: block;
    font-size: 48px;
}

.config-input {
    margin-top: 20px;
}

.complexity-container {
    margin: 0 0 45px;
    padding: 0 20px 20px;
}

.complexity-container h3{
    color: black;
    padding-bottom: 15px;
    margin-top: 15px;
}

.btn-avanzar {
    font-size: 24px;
}

.reuniones-container {
    background-color: cadetblue;
    padding: 20px;
    color: white;
}

.proyecion-container {
    background-color: moccasin;
    padding: 20px;
    margin-top: 20px;
}

.proyeccion-container h3 {
    color: black;
}

.config-card select, select:focus, .form-control:focus {
    width: 100%;
}

.reuniones-container select, select:focus, .form-control:focus {
    width: 100%;
}

.tooltip-info {
    width: 20px;
    height: 20px;
}

.card-inverse {
    background-color: transparent;
    border: 1px solid #041631;
}

.card-inverse h3 {
    color: #041631;
}

.card-red {
    background-color: #4c2525;
}

.config-gasto {
    background-color: transparent;
    border: 1px solid #041631;
    height: 100%;
}

.config-gasto h4 {
    color: #041631;
}

.simulacion-container h1 {
    padding-top: 0;
    padding-bottom: 20px;
}

.proyecciones {
    margin-top: 20px;
}